.text-title1 {
  font-family: "Amatic SC", cursive;
}

.card-body {
  box-shadow: -8px -8px 45px rgba(0, 0, 0, 0.1),
    8px 8px 45px rgba(255, 255, 255, 1);
  border-radius: 8px;
  background-color: #ffffff;
}
.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

section {
  margin: 10px;
}
